# Exclude locally vendored dependencies.
vendor/

# Exclude "build-time" ignore files.
.dockerignore
.gcloudignore

# Exclude git history and configuration.
.gitignore

# Downloaded files
*.zip
*.tar.gz

# Extra libs
sherpa-onnx/
whisper.cpp/
