# Exclude locally vendored dependencies.
vendor/

# Exclude "build-time" ignore files.
.dockerignore
.gcloudignore

# Exclude git history and configuration.
.gitignore

# Downloaded files
*.zip
*.tar.gz

# Extra libs
sherpa-onnx/
whisper.cpp/

# Python stuff
__pycache__/
.ruff_cache/
.venv/

# Bert model
bert/
